<mat-card>
    <h1 class="mat-headline">Contacts</h1>
    <a href="https://github.com/adam5ny" target="_blank" class="mat-body-2">Github <i class="fab fa-github fa-lg"></i></a><span style="margin-right: 1em"></span>
    <a href="https://keybase.io/adam5ny" target="_blank" class="mat-body-2">Keybase <i class="fab fa-keybase fa-lg"></i></a><span style="margin-right: 1em"></span>
    <a href="https://www.linkedin.com/in/adam5ny" target="_blank" class="mat-body-2">LinkedIn <i class="fab fa-linkedin fa-lg"></i></a><span style="margin-right: 1em"></span>
    <a href="https://medium.com/@adam5ny" target="_blank" class="mat-body-2">Medium <i class="fab fa-medium fa-lg"></i></a><span style="margin-right: 1em"></span>
    <a href="https://twitter.com/adam5ny" target="_blank" class="mat-body-2">Twitter <i class="fab fa-twitter fa-lg"></i></a><span style="margin-right: 1em"></span>
</mat-card>

<mat-card>
    <mat-list role="list">
            <mat-list-item role="listitem">
                <span class="mat-body-1"><q>Truth and love will overcome lies and hatred</q><br> ~ <a href="https://en.wikipedia.org/wiki/V%C3%A1clav_Havel" target="_blank">Vaclav Havel</a></span>
                <mat-divider></mat-divider>
            </mat-list-item>
            <mat-list-item role="listitem">
                <span class="mat-body-1"><q>Live as if you were to die tomorrow. Learn as if you were to live forever</q><br> ~ <a href="https://en.wikipedia.org/wiki/Mahatma_Gandhi" target="_blank">Mahatma Gandhi</a></span>
            </mat-list-item>
    </mat-list>
</mat-card>

<mat-card>
    <h1 class="mat-headline">Blog</h1>
    <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let i of blog | async">
            <a routerLink="/blog/{{i.url}}" class="mat-body-2">{{i.title}} - {{i.date_str}}</a>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
</mat-card>