<div class="main">
    <div class="grid-header">
        <a routerLink="/">
            <img id="main-logo" src="assets/images/adamnovotny_logo.jpg" alt="Adam Novotny's website">
        </a>
        <div class="grid-contacts">
            <div><a href="https://github.com/excitedAtom" class="mat-body-2 contact-header">Github <i class="fab fa-github fa-lg"></i></a></div>
            <div><a href="https://keybase.io/adam5ny" class="mat-body-2 contact-header">Keybase <i class="fab fa-keybase fa-lg"></i></a></div>
            <div><a href="https://www.linkedin.com/in/excitedAtom" class="mat-body-2 contact-header">LinkedIn <i class="fab fa-linkedin fa-lg"></i></a></div>
            <div><a href="https://medium.com/@excitedAtom" class="mat-body-2 contact-header">Medium <i class="fab fa-medium fa-lg"></i></a></div>
            <div><a href="https://twitter.com/excitedAtom" class="mat-body-2 contact-header">Twitter <i class="fab fa-twitter fa-lg"></i></a></div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>