<mat-card>
    <h1 class="mat-headline">{{ (blog | async)?.title }}</h1>
    <div *ngFor="let i of (blog | async)?.paragraphs">
        <p *ngIf="i.type == 1" class="mat-body-1" [innerHTML]="i.text">
        </p>
        <p *ngIf="i.type == 3" class="title" [innerHTML]="i.text">
        </p>
        <img *ngIf="i.type == 4" style="width: 100%" src="https://cdn-images-1.medium.com/max/2600/{{ i.id }}" alt="{{ i.text }}">
        <p *ngIf="i.type == 4" class="mat-body-1" style="color: grey" [innerHTML]="i.text">
        </p>
        <q *ngIf="i.type == 6" class="mat-body-2" [innerHTML]="i.text">
        </q>
        <p *ngIf="i.type == 7" class="mat-body-2" [innerHTML]="i.text">
        </p>
        <mat-card *ngIf="i.type == 8" class="mat-body-1">
            <pre [innerHTML]="i.text"></pre>
        </mat-card>
        <ul *ngIf="i.type == 9" class="mat-body-1">
            <li [innerHTML]="i.text">
            </li>
        </ul>
        <p *ngIf="i.type == 13" class="title" [innerHTML]="i.text">
        </p>
    </div>
    <p class="mat-caption">Note: This article is also available on <a href="{{ (blog | async)?.url_medium }}" target="_blank">Medium</a></p>
</mat-card>